builddir/
debian/android-tools-adb.debhelper.log
debian/android-tools-adb.postinst.debhelper
debian/android-tools-adb.preinst.debhelper
debian/android-tools-adb.substvars
debian/android-tools-adb/
debian/android-tools-adbd.debhelper.log
debian/android-tools-adbd.postinst.debhelper
debian/android-tools-adbd.preinst.debhelper
debian/android-tools-adbd.prerm.debhelper
debian/android-tools-adbd.substvars
debian/android-tools-adbd/
debian/android-tools-fastboot.debhelper.log
debian/android-tools-fastboot.postinst.debhelper
debian/android-tools-fastboot.preinst.debhelper
debian/android-tools-fastboot.substvars
debian/android-tools-fastboot/
debian/android-tools-fsutils.debhelper.log
debian/android-tools-fsutils.substvars
debian/android-tools-fsutils/
debian/files
*.o
*~
